@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.primary-nav{
    font-family: 'Ysabeau SC', sans-serif;
    width: 100%;
    background-color: rgba(40, 23, 39, 0.386);
    position: relative;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 200px;
}

.primary-nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}

.primary-nav a:hover {
    background-color: white;
    color: black;
}

h1 {
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Ysabeau SC', sans-serif;
    margin: 0;
}

h2 {
    font-family: 'Ysabeau SC', sans-serif;
    color: black;
}

body{
    margin: 0;
}

.body {
    font-size: 2em;
    text-align: center;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}